#!/usr/bin/env zsh

# Make neovim the default editor.
export EDITOR='vim'
alias vim="$HOME/.local/bin/lvim"

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# History
export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=32768
export SAVEHIST=$HISTSIZE

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}"

# Allow less's default behavior to use termcap. This allows mouse scrolling.
# Change to 'less -X' to capture output in terminal and disable mouse scrolling.
export MANPAGER='less'

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# GoLang
export GOPATH="$HOME/projects/golang" # you might want to consider to change this
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"

# Postgres Tools
export PATH="/usr/local/opt/libpq/bin:$PATH"

# GNU tools
export PATH="/opt/homebrew/opt/gnu-sed/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/grep/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/findutils/libexec/gnubin:$PATH"

# 1Password SSH Agent
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
